body {
    font-family:'Alegreya Sans', 'Montserrat', sans-serif;
    font-size: 12px;

}

.navbar-brand,
.navbar-nav,
.nav-item,
.nav-link
 {
    color: #117a8b;
    font-size: 16px;
 }

 h3{
    color: #117a8b;
    font-size: 19px;
    margin-top: 20px;
    margin-left: 250px;
    text-decoration: underline;
 }
 p {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 200px;
 }
 
 .form-group {
     width: 500px;
     margin-left: 50px;
     font-size: 14px;
 }


.footer {
    font-size: 20px;
    text-align: center;
    margin-top: 600px;
}