/*Navigaton Bar*/

body {
    font-family:'Alegreya Sans', 'Montserrat', sans-serif;
    font-size: 12px;

}

.navbar-brand,
.navbar-nav,
.nav-item,
.nav-link
 {
    color: #117a8b;   
    font-size: 16px;
 }

/*CSS for Janliz Suarez Section*/
.img-thumbnail {
    margin-top: 50px;
    position: center;
}


h1 {
    color: #117a8b;
    font-size: 30px;
    text-decoration: underline;
    margin-top: 60px;
    margin-left: 100px;
    
}

.col-md-6 h3 {
    color: #117a8b;
    font-size: 19px;
    font-style: italic;
    margin-left: 100px;

}
.col-md-6 p {
    
    font-size: 14px;
    margin-left: 50px;
    text-align: justify;
    margin-left: 100px;
}

img {
    margin-left: 200px;
}

.container2 h3 {
    color: #117a8b;
    font-size: 19px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
    
}
.container2 h4 {
    color: #117a8b;
    font-size: 16px;
    text-align: center;
}
.container2 p {
    font-size: 14px;
}

.container3 h3{
    color: #117a8b;
    font-size: 19px;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}

.footer {
    font-size: 20px;
    text-align: center;
    margin-top: 600px;
}
