

body {
    font-family:'Alegreya Sans', 'Montserrat', sans-serif;
    font-size: 12px;

}

/* Navigation Styling*/

.navbar-brand,
.navbar-nav,
.nav-item,
.nav-link
 {
    color: #117a8b;   
    font-size: 16px;
 }

 img {
     margin-top: 20px;
     margin-left: 10px;
     width: 100%;
 }

h1 {
    color: #117a8b;
    font-size: 30px;
    text-decoration: underline;
    margin-top: 60px; 
}

h3 {
    color: #117a8b;
    font-size: 20px;
    font-style: italic;
}
p {
    font-size: 15px;
}

.footer {
    font-size: 20px;
    text-align: center;
    margin-top: 600px;
}
